<div class="container mat-elevation-z8">
    <form  class="form">
        <h1 >Cadastrar Telefone</h1>
       
        <img class="full-Width" src="assets/img/telefone-create.png" alt="Help Desk">
 
 
       <table class="example-full-width" cellspacing="0"><tr>
         <mat-form-field class="full-width" appearance="fill">
           <mat-label>Numero</mat-label>
           <input  [(ngModel)]="telefone.numero" name="numero"
            [formControl]="numero" required matInput placeholder="Ex.. (00)0.0000-0000" prefix="+55 " mask="(00) 0 0000 0000 || (00) 0000 0000"  maxlength="21">
           <mat-icon matSuffix>phone</mat-icon>
         </mat-form-field>
 
         <mat-form-field class="full-width" appearance="fill">
          <mat-label>Selecione um tipo</mat-label>
          <mat-select  [(ngModel)]="telefone.tipoTelefone" name="tipoTelefone" [formControl]="tipoTelefone" required>
            <mat-option>NENHUM</mat-option>
            <mat-option value="0">CASA</mat-option>
            <mat-option value="1">EMPRESA</mat-option>
            <mat-option value="2">CELULAR</mat-option>
          </mat-select>
        </mat-form-field>
         </tr></table>

           <button (click)="create()" [disabled]="!validaCampos()" class="full-width mat-elevation-z8" mat-flat-button color="primary" ><mat-icon>group_add</mat-icon>Cadastrar</button>
           <button class="full-width mat-elevation-z4" mat-flat-button color="warn" (click)="onNoClick()"><mat-icon>cancel</mat-icon>Cancelar</button>
    </form>
  <p>By Gonçalves M William</p>
 
 </div>
 