


.container{
    width: 46rem;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
}
.full-person{
    width: 97%;
    left: 1rem;
    
}
.full-width{
    width: 230px;
    left: 1rem;
    margin-top: 4px;
    margin: 0 5px;
}

.full-button{
    width: 350px;
    left: 1rem;
    margin-top: 4px;
    margin: 0 5px;
}

.full-text-area{
    width: 97%;
    left: 1.1rem;
}

.observacoes{
    min-height: 4rem;
    max-height: 10rem;
}

h1{
    text-align: center;
}

p{
 margin-top: 1rem;
 opacity: .5;
}

td {
    text-align: center
 }

img{
    margin: auto;
    width: 88%;
    display: block;
}

.section{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

mat-icon{
    opacity: .8 !important;
}

.loader-spinner{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:99999; 
    background: white;
    height: 16rem;
    margin-top: -400px;
  
  }


