.container{
    width: 90%;
    margin: auto;
}
table {
    width: 100%;
  }

  .mat-form-field{
      width: 100%;
  }

  button{
    border: 1px solid rgb(161, 159, 159);
    margin-left: auto;
    display: flex !important;
  }

  p{
    margin-top: 1rem;
    opacity: .5;
  }

  .edit{
    color: rgb(65, 180, 225);
  }

  .delete{
    color: red;
  }

  .icons {
    display: flex;
  }