.container{
    width: 95%;
    margin: auto;
}
table {
    width: 100%;
  }
.mat-form-field{
      width: 100%;
  }

  .table{
    border-spacing: 7px;
  }

  .mat-row{
    height: 35px !important;
  }
 
  .mat-status{
    width: 110px !important;
    padding: 1px 20px 1px 17px;
    color: #e9e4e4;
    border-radius: 10px !important;
    text-align: center;
    font-weight: bold;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    }

  button{
    border: 1px solid rgb(161, 159, 159);
    margin-left: auto;
    display: flex !important;
  }

  .text-spinner{
    margin-top: 10rem;
  }

  p{
    margin-top: 1rem;
    opacity: .5;
  }

  .edit{
    color: rgb(65, 180, 225);
  }

  .delete{
    color: red;
  }

  .icons {
    display: flex;
  }
  .pagination{

    margin-right: 35rem; 
  }

  .loader-spinner{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:99999; 
    background: white;
    height: 16rem;
    margin-top: -400px;
  
  }

  .example-viewport {
    height: 296px;
    width: auto;
    border: 2px solid white;
  }
  
  .example-item {
    height: 100px;
  }

  mat-radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .statusColor{
     width: 10rem;
  }

  mat-row cdk-row ng-star-inserted{
    height: 10px;
  }

  .full-button{
    width: 195px;
    margin-top: 1rem;
    display: row;
  }

  .full-button-report{
    margin-right: 60px;
    margin-top: 1rem;
   
   
  }

