<div class="container">

    <button (click)="openCreate()" class="mat-elevation-z8" mat-raised-button color="primary">
        <mat-icon md-36> phone </mat-icon> Adicionar Telefone(a)
    </button>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport ">
            <table mat-table [dataSource]="dataSource">

                 <!-- Weight Column -->
                 <ng-container matColumnDef="tipoTelefone">
                    <th mat-header-cell *matHeaderCellDef>Tipo </th>
                    <td mat-cell *matCellDef="let telefone" [ngStyle]="{ color : getColor(telefone.tipoTelefone)}">{{returnTipoTel(telefone.tipoTelefone)}} </td>
                </ng-container>
                
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let telefone"> {{telefone.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Número </th>
                    <td mat-cell *matCellDef="let telefone"> {{telefone.numero}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="tecnico">
                    <th mat-header-cell *matHeaderCellDef> Técnico </th>
                    <td mat-cell *matCellDef="let telefone"> {{telefone.tecnico.nome}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let telefone">
                        <div class="icons">
                            <div class="icons-edit">
                                <mat-icon matSuffix class="edit" (click)="openEdit(telefone.id)">edit</mat-icon>
                            </div>
                            <div class="icons-delete">
                                <mat-icon matSuffix class="delete" (click)="openDelete(telefone.id)" >delete_foreve</mat-icon>
                            </div>

                            <div routerLink="../../" class="icons-delete">
                                <mat-icon matSuffix class="return">keyboard_return</mat-icon>
                            </div>

                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </cdk-virtual-scroll-viewport>
        <mat-paginator class="pagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <p>Lista Telefones</p>

       <!-- Loading -->
    <div *ngIf="isLoading" class="loader-spinner">
        <mat-spinner></mat-spinner>
        <div class="text-spinner">
            
        </div>
        
    </div>
    
</div>