
<div class="container mat-elevation-z8">
    <form class="form">
      <h1>Visualizando Chamados</h1>
      <img class="full-Width" src="assets/img/visualizar-chamado.png" alt="Help Desk" />
  
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Título do chamado</mat-label>
            <input name="titulo" matInput [(ngModel)]="chamado.titulo" name="titulo" [disabled]="true"/>
          </mat-form-field>
  
          <mat-form-field  class="full-width" appearance="outline" >
            <mat-label>{{ retornaStatus(chamado.status) }}</mat-label>
            <mat-select  [(ngModel)]="chamado.status" name="status" [disabled]="true">
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ retornaPrioridade(chamado.prioridade) }}</mat-label>
            <mat-select  [(ngModel)]="chamado.prioridade" name="prioridade" [disabled]="true">
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="full-person" appearance="outline">
            <mat-label>{{ chamado.nomeTecnico }}</mat-label>
            <mat-select [(ngModel)]="chamado.tecnico" name="tecnico" [disabled]="true">
              <mat-option>{{chamado.nomeTecnico}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="full-person" appearance="outline">
            <mat-label>{{ chamado.nomeCliente }}</mat-label>
            <mat-select [(ngModel)]="chamado.cliente" name="cliente" [disabled]="true">
              <mat-option>{{chamado.nomeCliente}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="full-text-area" appearance="outline">
            <mat-label>Deixe uma observação</mat-label>
            <textarea [(ngModel)]="chamado.observacoes" name="observacoes"  required class="observacoes"  [disabled]="true"
            matInput></textarea>
          </mat-form-field>
        </tr>
      </table>
      <button class="full-button mat-elevation-z4" mat-flat-button color="primary" (click)="onNoClick()">
        <mat-icon>keyboard_return</mat-icon>Retornar</button>
    </form>
    <p>By Gonçalves M William</p>
  </div>
  
  