.container{
    width: 31rem;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.fullWidth{
    width: 100%;
}

h1{
    text-align: center;
}

p{
 margin-top: 1rem;
 opacity: .5;
}

img{
    height: 18rem;
    margin: auto;
}

.section{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button{
    margin-top: .5rem;
}